main.seccion-principal {
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-template: 80% 20% / 100%;

    @include desktop {
        grid-template: 80% 20% / 25% 50% 25%;
    }
}

figure {
    margin: 0;
    padding: 0;
    position: relative;
    display: none;

    @include desktop {
        display: flex;
    }
}
//contenedor lado izquierdo
.cnt-main-a {
    justify-content: center;
    align-content: center;
    align-items: center;

    img:last-child {
        height: 113px;
    }
}

//contenedor centro superior
.cnt-main-b {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    div {
        width: 88%;
    }
}

// contenedor principal de la camara
.cnt-main-b .cnt-video {
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    video.hide {
        display: none;
    }

    .cnt-video-b {
        position: relative;
        display: flex;
        justify-content: center;
        width: 80%;
        height: 80%;
    }

    #gifPreview {
        width: 100%;
        height: 100%;
    }

    video {
        width: 100%;
        height: 100%;
    }

    //boder decorativos en las esquinas
    .deco-border {
        position: absolute;
        width: 1.8rem;
        height: 1.5rem;

        //equina superior izquierda
        &:nth-of-type(1) {
            border-top: 1px solid #50e3c2;
            border-left: 1px solid #50e3c2;
            top: 22px;
            left: 22px;
        }
        //equina superior derecha
        &:nth-of-type(2) {
            border-top: 1px solid #50e3c2;
            border-right: 1px solid #50e3c2;
            top: 22px;
            right: 22px;
        }
        //equina inferior derecha
        &:nth-of-type(3) {
            border-bottom: 1px solid #50e3c2;
            border-right: 1px solid #50e3c2;
            bottom: 22px;
            right: 22px;
        }
        //equina inferior izquierda
        &:nth-of-type(4) {
            border-bottom: 1px solid #50e3c2;
            border-left: 1px solid #50e3c2;
            bottom: 22px;
            left: 22px;
        }
    }
}

// contenedores de mensajes
#cntMsg01,
#cntMsg02,
#cntMsg03 {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;

    &.hide {
        display: none;
    }
}

#cntMsg01,
#cntMsg02 {
    h3 {
        font-size: 25px;
        line-height: 35px;
    }
    p {
        font-size: 16px;
        line-height: 29px;
        font-family: $fontRoboto;
    }

    span {
        color: $colorVerde;
    }
}

#cntMsg03 {
    background-color: $colorMoradoTransparente;
    width: 100%;
    height: 100%;

    img.loading {
        animation: rotate 3s linear infinite;
        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }
    }

    p {
        color: white;
        font-weight: bold;
    }

    .cnt-btn-down-link {
        width: 75px;
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: space-between;

        img {
            cursor: pointer;
        }
    }
}

//contenedor de los pasos 1 2 3
.cnt-main-b div:last-child {
    height: 15%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;

    div {
        width: fit-content;
    }
}

// timer y boton repetir captura
#timer-btnRepetir {
    font-family: $fontMontserrat;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;

    &.btn-repetir {
        // pointer-events: auto;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid $colorVerde;
        }
    }
}

//contendor lado derecho
.cnt-main-c {
    justify-content: flex-start;
    align-items: flex-end;
}

//contenedor centro lado inferior
.cnt-main-d {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop {
        grid-column: 2;
    }

    .boton-crear-gifo {
        border-radius: 25px 25px;
        width: 127px;
        height: 50px;
        text-align: center;
        font-size: 13px;
        line-height: 13px;
        font-family: $fontMontserrat;
        font-weight: bold;
        display: inline-block;
        padding: 1.2rem 0;
        cursor: pointer;
    }
}

#comenzar,
#grabar,
#finalizar,
#subirGifo,
#cntBtnsDownLink {
    &.hide {
        display: none;
    }
}

// estilos de los identificadores de los pasos
.pasos {
    border-radius: 50% 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-family: $fontRoboto;
    padding: 6px 0;
    display: inline-block;
    &:nth-of-type(2) {
        margin: 0 1rem;
    }
}

// estilos segun el modo nocturno/diurno
.modo-diurno {
    .cnt-main-b {
        border-bottom: 6.9px solid $colorMorado;
    }

    .cnt-video {
        border: 1px solid $colorMorado;
    }

    .pasos {
        border: 1px solid $colorMorado;
        color: $colorMorado;
    }

    .paso-active {
        border: 1px solid $colorMorado;
        color: white;
        background-color: $colorMorado;
    }

    .boton-crear-gifo {
        border: 1px solid $colorMorado;
        color: $colorMorado;

        &:hover {
            background-color: $colorMorado;
            color: white;
        }
    }

    #timer-btnRepetir {
        color: $colorMorado;
    }
}

.modo-nocturno {
    .cnt-main-b {
        border-bottom: 6.9px solid white;
    }

    .cnt-video {
        border: 1px solid white;
    }

    .pasos {
        border: 1px solid white;
        color: white;
    }

    .paso-active {
        border: 1px solid white;
        color: black;
        background-color: white;
    }

    .boton-crear-gifo {
        border: 1px solid white;
        color: white;
        &:hover {
            background-color: white;
            color: black;
        }
    }

    #timer-btnRepetir {
        color: white;
    }
}
