
#cntResultadosGifos.hide{
    display: none;
}

#titResultados {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;

    @include desktop {
        font-size: 35px;
        line-height: 30px;
    }
}

.lista-gifos-resultados{
    flex-flow: row wrap;
    justify-content: space-around;
    width: 88.8vw;
}

// Boton Ver Mas Gifos
.boton-verMasGifos{
    display: block;
    margin: 5rem auto;
    cursor: pointer;

    &.hide{
        display: none;
    }
}

#cntSinResultadosGifos.hide{
    display: none;
}






